body {
    background-image: url("tile2.jpg");
}

table {
	background-color: rgba(112, 199, 224, .5); 
	border: 2px dashed;	
	
}

tbody td {
	font-style: italic;	
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

li {
	display: inline;
	font-size: 120%; 
	padding: 45px;
	font-style: italic;
}

#albumcover {
	background-image: url("15pbalbum.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
	padding-top: 125px; 
	padding-bottom: 125px; 
}

#albumtitle {
	font-family: 'Zaio';
	font-size: 220%; 
}

#memprod {
	font-family: 'Zaio';
	font-size: 150%; 
}

.stretch {
	width: 150%; 
	height: 200%; 
}

@font-face {
	font-family: 'Zaio';
	font-style: normal; 
	font-weight: bold; 
	src: url("Zaio.otf")
}
	
a {
	font-family: monospace; 
	color: blue; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline; 
	color: red; 
}



	
