body {
    background-image: url("pagebackground.jpg");
}

table {
	background-color: rgba(112, 199, 224, .5); 
	border: 2px dashed;	
	width: 50% !important;
}

tbody td {
	font-style: italic;	
	font-family: Arial, Helvetica, sans-serif;
}

hr {
	color: black; 
	height: 1px; 
	background-color: black; 
}

a {
	font-family: monospace; 
	color: blue; 
	text-decoration: none; 
	font-size: 120%; 
}

a:hover {
	text-decoration: underline; 
	color: red; 
}


#albumcover {
	background-image: url("15pbalbum.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
	padding-top: 125px; 
	padding-bottom: 125px; 
}

#albumtitle {
	font-family: 'Zaio';
	font-size: 250%; 
}

#ital {
	font-style: italic;
}
#memprod {
	font-family: 'Zaio';
	font-size: 200%; 
}


@font-face {
	font-family: 'Zaio';
	font-style: normal; 
	font-weight: bold; 
	src: url("Zaio.otf")
}
	


	
