#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	width: 100% !important; 
	position: static;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	padding-bottom: 20px; 
	font-family: 'MyFont', "Lucida Grande", sans-serif;
	background-color: rgba(255,253,255,.8);
}

#content {
	padding-bottom:50px; /* Height of the footer element */
}

#footer { 
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	background-color: rgba(255,254,255,.8);
	border-top: 1px solid black; 
	padding-top: 15px; 
}

.jumbotron {
	background-color: Lavender; 	
}

.carousel {
	width:60%; 	
	height: 80%;
	font-weight: bold; 
}

html, body {
	background-image: url("flag1.jpg");
	background-repeat: repeat-y; 
	margin:0;
	padding:0;
	height:100%;
}



@font-face {
	font-family: 'MyFont';
	font-style: normal; 
	font-weight: 100; 
	src: url("BuffaloScript-Regular.otf")
}


#links {
	padding: 2px; 
	width: 100%;
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
}

a {
	font-family: monospace; 
	font-weight: none; 
	text-decoration: underline; 
}

a:link {
	color: blue; 
}

a:visited {
	color: purple; 
}

a:hover {
	text-decoration: bold; 
	color: blue; 
	font-family: cursive; 
}

a:active {
	text-decoration: none !important;
	border-bottom: 0 !important;
}
