body {
 background-image: url("tile2.jpg");
}

table {
background-color: LemonChiffon; 
border: 2px dashed;	
}

td {
font-family: Arial, Helvetica, sans-serif;
}

li {
display: inline;
font-size: 120%; 
padding: 45px;
}