
.header {
	position: static;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	padding-bottom: 20px; 
	font-family: 'MyFont', sans-seriff;
	background-color: rgba(204,208,220,1);	
}
	
.footer {
	position: static;
	position: absolute; 
	width: 100%;  
	bottom: 0%;
	text-align: center;
	font-size: 100%;
	font-weight: bold; 
	background-color: rgba(204,208,220,1);	
}

body {
  background-image: url("flag1.jpg");
  padding: 0px; 
  margin: 0px; 
}

@font-face {
	font-family: 'MyFont';
	font-style: normal; 
	font-weight: 100; 
	src: url("BuffaloScript-Regular.otf")
}

#foot {
	bottom: 10%; 
}