
body{
color: green;
font-family: Verdana, Arial, Geneva, Arial Black
font-weight: normal;
}

h1, h2 {

border-bottom: 1px solid black;
color: red;
}

.footer {
 position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px; /*negative half the width */
    background:red;
    width:400px;
    height:100px;
}
