
.header {
	position: static;
	text-align: center;
	font-size: 400%;
	font-weight: bold;
	padding-bottom: 20px; 
	font-family: 'MyFont', "Lucida Grande", sans-serif;
	background-color: rgba(255,253,255,.8);
}
	
.footer {
	position: static;
	position: absolute; 
	width: 100%;  
	bottom: 0%;
	text-align: center;
	font-size: 100%;
	font-weight: bold;
	background-color: rgba(255,254,255,.8);
}

body {
  background-image: url("flag1.jpg");
  padding: 0px; 
  margin: 0px; 
}

@font-face {
	font-family: 'MyFont';
	font-style: normal; 
	font-weight: 100; 
	src: url("BuffaloScript-Regular.otf")
}

#foot {
	bottom: 10%; 
}

#links {
text-indent: 8px; 
padding: 2px; 
}

a {
	font-family: monospace; 
	font-weight: none; 
	text-decoration: underline; 
}

a:link {
	color: blue; 
}

a:visited {
	color: purple; 
}

a:hover {
	text-decoration: bold; 
	color: blue; 
	font-family: cursive; 
}

a:active {
	text-decoration: none !important;
	border-bottom: 0 !important;
}
